/* .ajs-carousel-container .carousel-item.active, .carousel-item-left, .carousel-item-right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 550px;
}
*/
.ajs-carousel-container .carousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* .ajs-carousel-container img{
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
} */
/* .ajs-indicator-container .react-multi-carousel-list{
  justify-content: center; 
} */
body{
  background-color: whitesmoke;
}

.ajs-indicator-highlight{
  height: 4px;
  background-color:rgba(247, 247, 247, 0.72);
  width: 45px;
  border-radius: 5px;
  margin: 4px;
}
.ajs-indicator-highlight.active{
  height: 4px;
  background-color:white;
  width: 45px;
  border-radius: 5px;
  margin: 4px;
}
.ajs-carousel-indicator img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.carousel-indicators{
  display: flex;
  align-items: flex-end;
}
.carousel-indicators li{
  width: 80%;
}
.ajs-indicator-image{
  width: 100%
}
.carouselItem{
  display: flex;
  flex-direction: row;
}
.ajs-top-half{
  display: flex;
  flex-direction: row;
}
.ajs-product-name{
  font-weight: 900;
  font-size: 2.5rem;
}
.ajs-customer-interaction-container {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.ajs-carousel-indicator{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
}
.ajs-style-selector{
  height: auto;
  overflow: visible;
}
.ajs-style-btn{
  margin: 10px 0 10px 0;
}
.ajs-top-half p{
  margin-bottom: 0;
}
.ajs-hidden{
  display: none;
}
.ajs-add-to-cart button{
  background-color: white;
  color: black;
  border-radius: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ajs-feature{
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  align-items: center;
  height: 100%;
  margin: 5%;
  justify-content: flex-start;;
}
.ajs-feature-title{
  font-weight: 900;
  white-space: nowrap;
}
.ajs-feature div{
  padding: 1% 5% 1% 0;
  align-items: ;
}
.ajs-product-overview{
  display: flex;
  flex-direction: row;
  padding: 2% 0 2% 0;
  justify-content: center;
  width: 100%;
}
.ajs-product-description{
  display: flex;
  align-items: center;
}
.ajs-product-description div{
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.ajs-slogan{
  font-weight: 900;
  font-size: 1.2rem;
}
.ajs-feature img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.select-size-alert{
  width: 100%;
  background-color: #fff9c4;
  padding: 2%;
  border: 2px solid #ffc1076e;
  border-radius: 10px 10px 0 0;
}
.ajs-add-to-cart .dropdown{
  margin-bottom: 20px;
}
.ajs-prices{
  display: flex;
  flex-direction: row;
}
.ajs-sale{
  color: red;
}
.ajs-struck{
  text-decoration: line-through;
  margin-right: 10px;
}
.ajs-review{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ajs-carousel-container .magnifying-glass{
  background-size: initial !important;
}
.ajs-carousel-container{
  background-color: black;
}
.ajs-expand-btn{
  position: absolute;
  top: 3.7%;
  right: 5%;
  z-index: 100;
  filter: drop-shadow(0 0 0.1rem white);
  background-color: transparent;
  border-color: transparent;
  height: 50px;
  width: 50px;
}
.ajs-expand-btn:hover{
  color: grey;
}
.ajs-indicator-container{
  position: absolute;
  bottom: 0;
  padding: 0 10% 2% 10%;
  z-index: 100;
}
.ajs-carousel-container .carousel-item.active{
  justify-content: center;
  display: flex;
  background-color: black;
}
.ajs-zoom-container{
  width: 100%;
}
.ajs-small-image{
  height: 550px;
  object-fit: scale-down;
  width: 100%;
  cursor: zoom-in;
}
.ajs-not-available{
  cursor: initial;
}
.ajs-custom-right{
  position: absolute;
  background-color: rgba(66, 66, 66, 0.5);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  right: 0;
  border: 0;
  transition: all .5s;
}
.ajs-custom-right:hover{
  background: rgba(66, 66, 66, 0.8);
}
.ajs-custom-left{
  position: absolute;
  background-color: rgba(66, 66, 66, 0.5);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  left: 0;
  border: 0;
  transition: all .5s;
}
.ajs-custom-left:hover{
  background: rgba(66, 66, 66, 0.8);
}
.ajs-product-overview-container{
  display: flex;
  justify-content: center;
}
@media(max-width: 576px){
  .ajs-vr{
    height: 5px;
    background-color: #343434;
    width: 80%;
  }
}
@media(min-width: 576px){
  .ajs-vr-inside{
    height: 80%;
    width: 5px;
    background-color: #343434;
  }
}
@media(min-width: 768px){
    .ajs-magnifier-hidden{
      display: none;
    }
}
@media(min-width: 1024px){
  .ajs-center-indicators{
    justify-content: center;
  }
}
@media(max-width: 768px){
  .ajs-customer-interaction-container{
    margin: 5% 0 5% 0;
  }
  .ajs-product-overview{
    margin-top: 5%;
  }
}
/*==================== zoom image css ==============================*/

.iiz {
  margin: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  cursor: zoom-in;
  height: 550px;
  width: 100%;
  justify-content: center;
}

.iiz--drag .iiz__zoom-img--visible {
  cursor: grab;
}

.iiz__img {
  max-width: 100%;
  height: 550px;
  display: block;
  pointer-events: none;
  visibility: visible;
  opacity: 1;
  object-fit: scale-down;
}

.iiz__img--invisible {
  visibility: hidden;
  opacity: 0;
}

.iiz__zoom-img {
  width: auto !important;
  max-width: none !important;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: block;
  z-index: 100;
  height: 1375px !important;
}

.iiz__zoom-img--visible {
  visibility: visible;
  opacity: 1;
  cursor: zoom-out;
}

.iiz__zoom-portal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
}

.iiz__btn {
  background: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-appearance: none;
  appearance: none;
}

.iiz__btn:before {
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.iiz__hint {
  bottom: 10px;
  right: 10px;
  pointer-events: none;
  display: none;
}

.iiz__hint:before {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.9 19.9'%3E%3Cpath d='M13.9 7.4C13.9 3.8 11 .9 7.4.9S.9 3.8.9 7.4s2.9 6.5 6.5 6.5 6.5-2.9 6.5-6.5zm5.3 12.5l-6.7-7.2c-1.4 1.3-3.2 2.1-5.1 2.1-4.1 0-7.4-3.3-7.4-7.4S3.3 0 7.4 0s7.4 3.3 7.4 7.4c0 1.7-.6 3.4-1.7 4.7l6.8 7.2-.7.6z' fill='%23000222'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
}

.iiz__close {
  top: 10px;
  right: 10px;
  visibility: hidden;
  opacity: 0;
  z-index: 102
}

.iiz__close--visible {
  visibility: visible;
  opacity: 1;
}

.iiz__close::before {
  content: " ";
  width: 29px;
  height: 29px;
  background-image: linear-gradient(#222, #222), linear-gradient(#222, #222);
  background-size: 100% 1px, 1px 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
