.ajs-carousel-container .carousel-item.active{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
}
.ajs-carousel-container .carousel{
  width:100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ajs-carousel-container img{
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}
.ajs-carousel-indicator img{
  max-height: 75px;
  max-width: 100%;
  object-fit: scale-down;
}
.carousel-indicators{
  display: flex;
  align-items: flex-end;
}
.carousel-indicators li{
  width: 80%;
}
.ajs-indicator-image{
  width: 100%
}
.carouselItem{
  display: flex;
  flex-direction: row;
}
.ajs-top-half{
  display: flex;
  flex-direction: row;
  height: 500px;
}
.ajs-product-name{
  font-weight: 900;
  font-size: 2.5rem;
}
.ajs-customer-interaction-container {
  margin-left: 10%;
  height: 100%;
}
.ajs-carousel-indicator{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
}
.ajs-style-selector{
  height: auto;
  overflow: visible;
  padding: 15px 0 0 0;
}
.ajs-style-btn{
  margin: 10px 0 10px 0
}
.ajs-top-half p{
  margin-bottom: 0;
}
.ajs-hidden{
  display: none;
}
.ajs-add-to-cart button{
  background-color: white;
  color: black;
  border-radius: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}